
.map {
  width: 100%;
}

.mapWrap {
  display: flex;
  position: relative;

}

.mapCover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainWrap {
  display: flex;
  
}

.BoardWrapper {
  background-color: #1A5371;
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  order: 1;
}

.boardSettings {
  display: flex;
  flex-basis: 15%;
  background-color: #F07C41AB;
  flex-grow: 1;
  order: 0;
 
}
.boardMiscStats {
  display: flex;
  flex-basis: 15%;
  background-color: #C5EEF3;
  flex-grow: 1;
  order: 2;
  
}